on init
	export EXTERNAL_STORAGE /storage/sdcard0
	export SECONDARY_STORAGE /storage/sdcard1
	mkdir /storage/sdcard0 0000 system system
	mkdir /storage/sdcard1 0000 system system
	mkdir /storage/usbdisk0 0000 system system
	symlink /storage/sdcard0 /sdcard
	symlink /storage/sdcard0 /mnt/sdcard
	symlink /storage/sdcard1 /mnt/extsd

on fs
	setprop ro.crypto.umount_sd false
	mount_all /fstab.sun4i

on boot	
        # Enable interactive governor
        write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive

        # Lower maximum frequency when screen is off
        write /sys/devices/system/cpu/cpu0/cpufreq/screen_off_max_freq 696000

        # cpufreq interactive governor: timer 20ms, min sample 20ms, hispeed 700MHz
        write /sys/devices/system/cpu/cpufreq/interactive/timer_rate 20000
        write /sys/devices/system/cpu/cpufreq/interactive/min_sample_time 20000
        write /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq 696000

        # chown adequately for power HAL
        chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
        chown system system /sys/devices/system/cpu/cpufreq/interactive/input_boost
        chown system system /sys/devices/system/cpu/cpufreq/interactive/boostpulse
        chown system system /sys/devices/system/cpu/cpufreq/interactive/timer_rate
        chown system system /sys/devices/system/cpu/cpufreq/interactive/min_sample_time
        chown system system /sys/devices/system/cpu/cpufreq/interactive/hispeed_freq
        chown system system /sys/devices/system/cpu/cpufreq/interactive/go_hispeed_load
        chown system system /sys/devices/system/cpu/cpufreq/interactive/above_hispeed_delay

	# gpu drivers
	insmod /system/lib/modules/ump.ko
	insmod /system/lib/modules/mali.ko
	# display ioctl wrapper
	insmod /system/lib/modules/disp_ump.ko
	# touchscreen drivers
	insmod /system/lib/modules/goodix_hack.ko
	insmod /system/lib/modules/ft5x_ts.ko
	insmod /system/lib/modules/goodix_touch_3F.ko
	insmod /system/lib/modules/goodix_touch.ko
	insmod /system/lib/modules/gt801_2plus1.ko
        insmod /system/lib/modules/gt811_ts.ko
	insmod /system/lib/modules/ssd253x-ts.ko
	insmod /system/lib/modules/Novatek_TouchDriver.ko
	insmod /system/lib/modules/gt82x_ts.ko
	# gsensor drivers
	insmod /system/lib/modules/bma250.ko
	insmod /system/lib/modules/mecs.ko
	insmod /system/lib/modules/mxc622x.ko
	insmod /system/lib/modules/mma7660.ko
	insmod /system/lib/modules/kxte9.ko
	insmod /system/lib/modules/dmard06.ko
	# camera drivers
	insmod /system/lib/modules/videobuf-core.ko
	insmod /system/lib/modules/videobuf-dma-contig.ko   
	insmod /system/lib/modules/gc0308.ko
	insmod /system/lib/modules/gc0308b.ko
	insmod /system/lib/modules/gt2005.ko
	insmod /system/lib/modules/mt9m112.ko
	insmod /system/lib/modules/ov5640.ko
        insmod /system/lib/modules/gc2015.ko
        insmod /system/lib/modules/hi253.ko
        insmod /system/lib/modules/hi704.ko
	insmod /system/lib/modules/sun4i_csi1.ko
	insmod /system/lib/modules/sun4i_csi0.ko
	# usb ethernet drivers
	insmod /system/lib/modules/usbnet.ko
	insmod /system/lib/modules/asix.ko
	insmod /system/lib/modules/sr9600.ko
	insmod /system/lib/modules/qf9700.ko
	insmod /system/lib/modules/mcs7830.ko
	insmod /system/lib/modules/rtl8150.ko
	# other
	insmod /system/lib/modules/8192cu.ko
	insmod /system/lib/modules/cp2526.ko
        insmod /system/lib/modules/ssd253x_duod.ko
	# misc
	chown system system /sys/class/timed_output/sun4i-vibrator/enable
	chown system system /sys/class/rfkill/rfkill0/state
	chmod 0777  /sys/class/rfkill/rfkill0/state
	write /sys/class/rfkill/rfkill0/state 0

  # chown adequately for power HAL after insmod
  chown system system /sys/devices/platform/mali_dev.0/boostpulse
  chown system system /sys/module/mali/parameters/mali_boost_rate
  chown system system /sys/module/mali/parameters/mali_boost_duration

on post-fs

# bluetooth power up/down interface
        chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
        chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type
        chmod 0660 /sys/class/rfkill/rfkill0/state
        chown bluetooth net_bt_stack /sys/class/rfkill/rfkill1/type
        chown bluetooth net_bt_stack /sys/class/rfkill/rfkill1/state
        chmod 0660 /sys/class/rfkill/rfkill1/state
        write /sys/class/rfkill/rfkill0/state 0
        setprop rw.bluetooth.status "0"

on post-fs-data
	mkdir /data/misc/sensors 0777 system system
        # change back to bluetooth from system
        chown bluetooth net_bt_stack /data/misc/bluetooth
        # Set indication (checked by vold) that we have finished this action
	setprop vold.post_fs_data_done 1

# wifi related service
service wpa_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf
	socket wpa_wlan0 dgram 660 wifi wifi
	group wifi inet
	disabled
	oneshot

service p2p_supplicant /system/bin/wpa_supplicant -Dnl80211 -iwlan0 -c/data/misc/wifi/wpa_supplicant.conf
	socket wpa_wlan0 dgram 660 wifi wifi
	group wifi inet
	disabled
	oneshot

# dhcpcd daemons
service dhcpcd_wlan0 /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot    

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot    

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot
    
service u3gmonitor /system/bin/u3gmonitor
    class main
    user root
    group root
    oneshot

service memsicd /system/bin/logwrapper /system/bin/memsicd
   class troy
   oneshot

on property:dev.bootcomplete=1
    write /sys/module/lowmemorykiller/parameters/minfree "2048,4096,8192,80000,90000,100000"
### KSM
    write /sys/kernel/mm/ksm/run 1
